@import "init.css";

* {
    font-family: Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.main-content {
    margin: 4em 4em;
    color: white;
}

.item-filter {
    font-size: 14px;
    color: #999;
}

.item-name {
    
}