/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/home.css ***!
  \***************************************************************************/
:root {
    --white: white;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #1c1c1c;
}

.nav-content {
    display: flex;
    width: 100%;
    height: 5.5em;
    overflow: hidden;
    background-color: #3c3c3c;
}

.logo {
    padding-left: 1.3em;
    cursor: pointer;
}

.search-bar {
    width: 76em;
    height: 100%;
}

.search-input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: var(--white);
}

.shopping-cart {
    padding-left: 1em;
    align-items: center;
    display: flex;

}

.shopping-cart a {
    display: flex;
    width: 1.9em;
    height: 1.9em;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    background-color: transparent;
    border: 2px solid var(--white);
    transition: background-color 0.3s ease;
}

.shopping-cart a:hover {
    border: 2px solid black;
    background-color: black
}

.shopping-cart a:hover {
    color: black;
}

.user {
    display: flex;
    justify-content: center;
    align-items: space-around;
    justify-content: center;
    padding: 0.5em;
}

.user .profile-icon {
    display: flex;
    width: 3.4em;
    height: 3.4em;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    background-color: var(--white);
}

.gallery {
    max-height: 75vh;
}

.item {
    width: 80%;
    height: 50vh;
    margin: .5em;
    margin-top: 5em;
    opacity: .4;
    border-radius: 1em;
}

.item.is-selected {
    border-radius: .5em;
    margin-top: 1em;
    height: 75vh;
    opacity: 1;
}

.flickity-button {
    background-color: transparent;
    opacity: .3;
    transition: .4s ease-in-out;
}

.flickity-button:hover {
    background-color: transparent;
    opacity: 1;
}

.flickity-prev-next-button {
    width: 6.25em;
    height: 6.25em;
}

.flickity-button-icon {
    fill: white;
    background-color: transparent;
}

.flickity-button:disabled {
    display: none;
}

.flickity-page-dots {
    bottom: 3em;
}

.flickity-page-dots .dot {
    height: 1em;
    width: 1em;
    border: 2.5px solid var(--white);
    margin-left: 3em;
    border-radius: 1em;
}

.flickity-page-dots .dot.is-selected {
    background: var(--white);
    transition: 1s;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.recommendations {
    overflow: hidden;
    font-size: .8em;
    margin: 0 auto;
    max-width: 75em;
    padding: 4.5em 0;
}

h2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: aliceblue;
}

.recommendation-bar {
    width: 100%;
    height: 10em;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.last-search {
    align-items: baseline;
    margin: 2em;
    height: 7em;
    width: 7em;
    border-radius: 5em;
    background-color: transparent;
    opacity: .5;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.last-search a img {
    max-width: auto;
    max-width: 100%;
    object-fit: cover;
}

.last-search:hover {
    opacity: 1;
    border: 1px inset var(--white);
    height: 7.5em;
    width: 7.5em;
}

.footer-content {
    overflow: hidden;
    height: 16.421em;
    background-color: rgb(24, 24, 24);
    padding-top: 4em;
}

.nav-bounds {
    display: flex;
    padding: 0 6.875em;
    justify-content: space-around;
}

.nav-footer-access-col {
    font-size: .8em;
    display: inline-block;
    vertical-align: top;
    line-height: 1.6;
    width: auto;
    margin: 2.875em 0;
}

.nav-footer-title {
    font-weight: 600;
    margin: 0 0 5px;
    margin-bottom: .8em;
    font-size: .8em;
    color: #e6e6e6;
}

.footer-content a,
.footer-content a:visited,
.footer-content a:active,
.footer-content a:link {
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    color: #999;
    text-decoration: none;
    font-size: .84em;
}

.profile-icon {
    justify-content: center;
    max-width: 1.9em;
    max-height: 1.9em;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFF;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.initials {
    display: block;
    font-size: 23px;
    text-align: center;
}

.user {
    align-items: center;
    margin-left: .5em;
}

.user button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em .7em;
    margin-right: 1em;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: .3em;
    max-height: 2.9em;
    max-width: 6em;
    background-color: transparent;
    transition: background-color 0.3s ease;
    
}

.user button.login:hover {
    border: 2px solid #77b02a;
    background-color: #77b02a;
}

.user button.register:hover { 
    border: 2px solid #3c6608;
    background-color: #3c6608;
}

/* estilo para telas com largura menor que 768 pixels */
@media (max-width: 47.938em) {
    .nav-content {
        flex-wrap: nowrap;
        height: 5.5em;
        padding: 0.5em;
    }
    
    .logo {
        display: none;
    }
    
    .search-bar {
        width: 100%;
        padding: 0.5em;
    }
    
    .search-input {
        font-size: 1em;
    }

    .shopping-cart {
        padding-left: 0.5em;
    }

    .shopping-cart a {
        width: 1.6em;
        height: 1.6em;
    }

    .user {
        padding-left: 0.5em;
    }

    .user .profile-icon {
        width: 2.8em;
        height: 2.8em;
    }

    .recommendations {
        padding: 2em 0;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    .recommendation-bar {
        flex-wrap: nowrap;
        justify-content: center;
        height: auto;
    }

    .last-search {
        margin: 1em;
        height: 5em;
        width: 5em;
    }

    .footer-content {
        padding-top: 2em;
        height: auto;
    }

    .nav-bounds {
        flex-wrap: nowrap;
        padding: 0 1em;
    }

    .nav-footer-access-col {
        width: 100%;
        margin: 1em 0;
    }

    .flickity-button {
        display: none;
    }
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/config.css ***!
  \*****************************************************************************/
:root {
    --white: white;
}

body {
    background-color: var(--white);
}

.main-content {
    margin: 1em;
    display: grid;
    grid-template-columns: 27em 65.4em;
}

.config-content {
    position: relative;
    background-color: #1c1c1c;
    border-radius: .8em;
    max-height: 100%;
    max-width: 100%;
    height: 100vh;
    width: 27em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    margin-top: 3em;
    max-height: 100%;
    max-width: 100%;
    height: 8em;
    width: 8em;
    border: white 1px solid;
}

.perfil-img .user {  
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.perfil-img .user .profile-icon {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.perfil-img .user .profile-icon .initials {
    font-size: 45px;
    text-align: center;
}

.perfil-name {
    margin-top: .4em;
    font-size: 1.5em;
    color: var(--white);
    font-weight: 600;
    object-fit: cover;
}

.wallet {
    margin-top: .3em;
    font-size: 1.75em;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
}

button {
    margin-top: 1em;
    height: 2.7em;
    width: 12em;
    border: 2px solid black;
    font-size: 1.5em;
    border-radius: .8em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(139, 139, 139);
}

.exit {
    position: absolute;
    bottom: 5vh;
    background-color: #ff3232;
  }

.exit:hover {
    background-color: #862323;
}

.consult-bar {
    border: black 1.7px solid;
    border-radius: .7em;
    width: 15em;
    height: 2.7em;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    text-align: center;
    transition: 500ms ease-in-out;
}

.consult-bar:focus {
    width: 30em;
}

.second-grid {
    display: flex;
    max-height: 100em;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: .5em;
    overflow: hidden;
}

.item-layout .page-label {
    display: flex;
    font-size: 23.5px;
    letter-spacing: 1.2px;
    justify-content: center;
    align-items: center;
    max-height: 1.5em;
    max-width: 96%;
    margin-left: 1em;
    border-bottom: #1c1c1c 2px solid;
    font-weight: 600;
}

.itens {
    padding: 1em;
}

.itens ul{
    display: flex;
    flex-direction: column;
}

.itens ul .layout-item {
    display: flex;
    margin: .5em;
    padding: 1em;
    max-width: 100%;
    max-height: 10em;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: .85;
}

.itens ul .layout-item:hover {
    border-radius: .5em;
    background-color: rgba(223, 223, 223, 0.774);
    opacity: 1;
}

.itens ul .layout-item .imagem-product {
    max-width: 5em;
    max-height: 5em;
    height: 100%;
    width: 100%;
    border-radius: .8em;
}

.itens ul .layout-item .product-label {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
}

.spacing {
    display: flex;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
    border-bottom: #1c1c1c 1.8px solid;
}

.first-colum {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.button-add {
    display: none;
    font-size: 16px;
    font-weight: 600;
    max-width: 15em;
    max-height: 2.1em;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-add:hover {
    border: 2px solid #77b02a;
    background-color: #6c9d45;
    color: white;
}

.button-add:active {
    transform: translateY(2px);
}

/* Pop Up */

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup, form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70em;
    max-height: 45em;
    width: 100%;
    height: 100%;
    padding: 2em;
    background-color: white;
    border-radius: 10px;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr); /* Aumentamos o número de linhas para acomodar os botões */
    grid-column-gap: 10px; /* Aumentamos o espaço entre as colunas */
    grid-row-gap: 10px; /* Aumentamos o espaço entre as linhas */
}

.layout-h2 { grid-area: 1 / 1 / 2 / 4; } /* Redimensionamos o h2 para ocupar 3 colunas */
.picture { grid-area: 2 / 1 / 7 / 2; } /* Aumentamos a altura do picture para 5 linhas */
.nome { grid-area: 2 / 2 / 3 / 4; }
.categoria { grid-area: 3 / 2 / 4 / 4; } /* Aumentamos a altura da categoria para 1 linha */
.preco { grid-area: 4 / 2 / 5 / 4; } /* Aumentamos a altura do preço para 1 linha */
.quantidade { grid-area: 5 / 2 / 6 / 4; } /* Aumentamos a altura da quantidade para 1 linha */
.Descricao { grid-area: 6 / 1 / 9 / 4; } /* Aumentamos a altura da descrição para 3 linhas */
.add-product { grid-area: 9 / 1 / 10 / 2; } /* Adicionamos o botão Adicionar na última linha */
.close-popup { grid-area: 9 / 3 / 10 / 4; } /* Adicionamos o botão Cancelar na última linha */

.popup h2 {
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
}

.popup form input[type="text"],
.popup form input[type="number"],
.popup form textarea {
    display: flex;
    border: 1px solid rgb(122, 122, 122);
    border-radius: .3em;
    width: 100%;
    margin-bottom: 10px;
    padding: .7em;
    justify-content: center;
}

.popup form input[type="text"]:hover,
.popup form input[type="number"]:hover,
.popup form textarea:hover {
    border: 1px solid rgb(66, 66, 66);
}

.popup form input[type="text"]:focus,
.popup form input[type="number"]:focus,
.popup form textarea:focus {
    border: 1px solid rgb(27, 27, 27);
}

.popup form .add-product,
.popup form .close-popup {
    margin-left: 2.55em;
    margin-bottom: .5em;
    width: 8em;
    height: 2.3em;
    background-color: #77b02a;
    color: white;
    border: none;
}

/* Input [type="file"] */
.picture__input {
    display: none;
}

.picture { margin-bottom: 10px; }

.picture__input { display: none; }

.picture__image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 15em;
    background-color: #c2c1c1;
    color: #8a8a8a;
    border: 2px dashed currentColor;
    cursor: pointer;
    font-family: sans-serif;
    transition: 300ms ease-in-out;
    overflow: hidden;
    margin-left: 3em;
    margin-top: .6em;
}

.picture__img {
    object-fit: cover;
    max-width: 100%;
}

.picture.image-added {
    border: none;
    background-color: transparent;
}

.picture:hover {
    background-color: #77b02a;
    color: white;
    border: 2px dashed #5d863b;
}

.picture:active {
    background-color: #6c9d45;
    border: 2px dashed #3f5c28;
}

.popup form .add-product:hover {
    background-color: #5d863b;
}

.popup form .close-popup {
    background-color: #ff3232;
}

.popup form .close-popup:hover {
    background-color: #862323;
}

@media (max-width: 767px) {
    .main-content {
      grid-template-columns: 1fr; /* Altere para uma única coluna */
      gap: 1em;
      margin: 0;
    }
  
    .config-content {
      width: 100%;
      max-width: none;
      height: auto; /* Ajuste a altura conforme necessário */
      padding-bottom: 3em;
      border-radius: 0;
    }
  
    .perfil-img {
      margin-top: 2em;
      border: none;
    }
  
    .perfil-img .user {
      height: 7em;
      width: 7em;
    }
  
    .perfil-img .user .profile-icon .initials {
      font-size: 30px;
    }
  
    .perfil-name {
      font-size: 1.2em;
    }
  
    .wallet {
      font-size: 1.5em;
    }
  
    button {
      width: 40%;
      height: 2.5em;
    }

    .exit {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 10vh;
      }
  
    .consult-bar {
        margin: 1em auto;
        margin-bottom: 1.5em;
    }
    
    .second-grid {
        padding-left: 0;
        margin-left: 0.5em; /* Restaure a margem à esquerda */
        display: grid;
        max-width: 98.9%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Use grid para organizar os itens em colunas responsivas */
        grid-gap: 1em; /* Adicione um espaço entre os itens */
    }
  
    .item-layout .page-label {
      font-size: 20px;
      width: 93%;
    }

    .itens{
        padding: 0;
    }

    .first-colum {
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
  
    .itens ul .layout-item .imagem-product {
      max-width: 7em;
      max-height: 7em;
      border-radius: 5px;
    }
    
    .itens ul .layout-item {
        max-width: 45.5em;
    }
  
    .itens ul .layout-item .product-label {
        font-size: 16px;
        max-width: 7em;
        text-align: center; /* Centralize o texto */
        margin-top: 0.5em; /* Adicione espaço acima do texto */
      }
  }

/*# sourceMappingURL=config.style.css.map*/