/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/buying-item.css ***!
  \**********************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap);
/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/home.css ***!
  \***************************************************************************/
:root {
    --white: white;
    --black: black;
    --midleBlack: #1c1c1c;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--midleBlack);
}

.nav-content {
    display: flex;
    width: 100%;
    height: 5.5em;
    overflow: hidden;
    background-color: #3c3c3c;
}

.logo {
    padding-left: 1.3em;
    cursor: pointer;
}

form .search-bar {
    flex-grow: 1;
    margin: 0 1em; /* Adicione margem para espaçamento */
}

form .search-input {
    background-color: transparent;
    max-width: 100%;
    width: 44em;
    height: 100%;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: var(--white);
}

form .none {
    display: none;
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.3em; /* Alinhe à direita */
}

.shopping-cart .cart-icon {
    cursor: pointer;
    display: flex;
    width: 1.9em;
    height: 1.9em;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    background-color: transparent;
    border: 2px solid var(--white);
    transition: background-color 0.3s ease;
}

.shopping-cart .cart-icon:hover {
    border: 2px solid var(--black);
    background-color: var(--black);
}

.shopping-cart .cart-icon i {
    color: var(--white);
}

.user {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user .profile-icon {
    display: flex;
    width: 3.4em;
    height: 3.4em;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    background-color: var(--white);
}

/* Menu Dropdown*/

.dropdown-menu {
    position: absolute;
    top: 2.7em;
    right: 2.42em;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 999;
}

.dropdown-menu.active {
    transform: translateY(2.8em);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Ícones do FontAwesome */
.dropdown-menu li {
    justify-content: center;
    align-items: center;
}

.dropdown-menu li i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-bottom: .5em;
    cursor: pointer;
    font-size: 18px;
    margin-right: .5em;
    transition: background-color 0.3s ease, color 0.3s ease;
    opacity: 0; /* Inicia com opacidade 0 */
    transition-delay: 0s; /* Delay inicial de 0 segundos */
    transform: translateY(-2em);
    opacity: 0;
}

/* Efeito hover */

.dropdown-menu .fa-sign-out-alt {
    background-color: #e74c3c;
}

.dropdown-menu .fa-sign-out-alt:hover {
    background-color: #c0392b;
}

.dropdown-menu i:hover {
    background-color: #2ecc71;
    color: var(--white);
}


.dropdown-menu.active li i {
    transition-delay: 0s, 0.1s;
    transform: translateY(0);
    opacity: 1;
}

/* Carrousel */

.gallery {
    max-height: 75vh;
}

.item {
    width: 80%;
    height: 50vh;
    margin: .5em;
    margin-top: 5em;
    opacity: .4;
    border-radius: 1em;
}

.item.is-selected {
    border-radius: .5em;
    margin-top: 1em;
    height: 75vh;
    opacity: 1;
}

.flickity-button {
    background-color: transparent;
    opacity: .3;
    transition: .4s ease-in-out;
}

.flickity-button:hover {
    background-color: transparent;
    opacity: 1;
}

.flickity-prev-next-button {
    width: 6.25em;
    height: 6.25em;
}

.flickity-button-icon {
    fill: var(--white);
    background-color: transparent;
}

.flickity-button:disabled {
    display: none;
}

.flickity-page-dots {
    bottom: 3em;
}

.flickity-page-dots .dot {
    height: 1em;
    width: 1em;
    border: 2.5px solid var(--white);
    margin-left: 3em;
    border-radius: 1em;
}

.flickity-page-dots .dot.is-selected {
    background: var(--white);
    transition: 1s;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.recommendations {
    overflow: hidden;
    font-size: .8em;
    margin: 0 auto;
    max-width: 75em;
    padding: 4.5em 0;
}

h2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: aliceblue;
}

.recommendation-bar {
    width: 100%;
    height: 10em;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.last-search {
    align-items: baseline;
    margin: 2em;
    height: 7em;
    width: 7em;
    border-radius: 5em;
    background-color: transparent;
    opacity: .5;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.last-search a img {
    max-width: auto;
    max-width: 100%;
    object-fit: cover;
}

.last-search:hover {
    opacity: 1;
    border: 1px inset var(--white);
    height: 7.5em;
    width: 7.5em;
}

.footer-content {
    position: relative; /* Use relative para o elemento pai envolvente */
    clear: both; /* Limpa floats para garantir o posicionamento correto do footer */
    margin-top: 12.95em; /* Adicione margem para separar o conteúdo da parte inferior da página */

    overflow: hidden;
    background-color: rgb(24, 24, 24);
    padding: 4em 0;
    text-align: center;
    color: var(--white);
}

.nav-bounds {
    display: flex;
    padding: 0 6.875em;
    justify-content: space-around;
}

.nav-footer-access-col {
    font-size: .8em;
    display: inline-block;
    vertical-align: top;
    line-height: 1.6;
    width: auto;
    margin: 2.875em 0;
}

.nav-footer-title {
    font-weight: 600;
    margin: 0 0 5px;
    margin-bottom: .8em;
    font-size: .8em;
    color: #e6e6e6;
}

.footer-content a,
.footer-content a:visited,
.footer-content a:active,
.footer-content a:link {
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    color: #999;
    text-decoration: none;
    font-size: .84em;
}

.profile-icon {
    order: 1;
    justify-content: center;
    max-width: 1.9em;
    max-height: 1.9em;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFF;
    color: var(--black);
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.initials {
    display: block;
    font-size: 23px;
    text-align: center;
}

.user {
    align-items: center;
    margin-left: .5em;
}

.user button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em .7em;
    margin-right: 1em;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    border: 2px solid var(--white);
    border-radius: .3em;
    max-height: 2.9em;
    max-width: 6em;
    background-color: transparent;
    transition: background-color 0.3s ease;
    
}

.user button.login:hover {
    border: 2px solid #77b02a;
    background-color: #77b02a;
}

.user button.register:hover { 
    border: 2px solid #3c6608;
    background-color: #3c6608;
}

/* lista de compra */

.cart {
    position: fixed;
    top: 0;
    right: -20em;
    height: 100%;
    width: 20em;
    background-color: var(--midleBlack);
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 999;
}

.cart.open {
    right: 0;
    z-index: 999;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #77b02a;
    cursor: pointer;
    color: #77b02a;
    transition: 0.3s ease;
}

.close-button:hover {
    color: #3c6608;
    border: 2px solid #3c6608;;
}

.cart-content .cart-items {
    padding: 3em 0em;
    max-height: 40em;
    overflow-y: auto;
}

.cart-content h2 {
    padding-top: .6em ;
    padding-bottom: .1em ;
    color: var(--white);
    text-align: center;
}

.cart-content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1em 0;
}

.cart-item {
    padding: 0.8em;
    margin: 1em 0em;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-radius: 0.8em;
    background-color: #272727;
    position: relative;
}

.cart-item img {
    border: var(--white) 1px solid;
    width: 4em;
    height: auto;
}

.cart-item .item-info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--white);
    padding: 10px;
}

.cart-item .item-info h3 {
    margin: 0;
}

.cart-item .item-info p {
    margin: 5px 0;
}

.input-quantity {
    border: none;
    display: flex;
    color: var(--white);
    background-color: #3c3c3c;
    text-align: center;
    width: 7em;
}

/* Adicione um container para os botões */
.quantity-controls {
    position: absolute;
    right: 0; /* Alinhe os botões à direita */
    display: flex;
    align-items: center; /* Centralize verticalmente */
}

.quantity-control {
    background-color: #77b02a;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px; /* Adicione espaço entre os botões */
}

/* Ajuste a ordem dos botões para que o "+" fique à direita */
.quantity-control.decrease {
    position: absolute;
    left: 60px;
    bottom: 21px;
}

.quantity-control.increase {
    position: absolute;
    right: 60px;
    bottom: 21px;
}

.quantity-control:hover {
    background-color: #3c6608;
}

.item-remove {
    width: 2.2em;
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #c0392b;
    color: var(--white);
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    border: none;
}

.item-remove:hover { 
    background-color: #9c2619;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    background-color: #1c1c1c;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.total {
    font-size: 24px;
    color: var(--white);
    text-align: center;
    margin: 0 0 10px 0;
}

#cart-total {
    font-weight: bold;
}

.finalize-order {
    display: block;
    width: 80%;
    padding: 10px 0;
    background-color: #77b02a;
    color: var(--black);
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.finalize-order:hover {
    background-color: #3c6608;
}

.cart-content {
    overflow-y: auto;
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: #77b02a transparent; /* Cor da barra de rolagem */
}

/* Estilo da trilha da barra de rolagem */
.cart-content::-webkit-scrollbar-track {
    background: transparent;
}

/* Estilo do polegar da barra de rolagem */
.cart-content::-webkit-scrollbar-thumb {
    background-color: #77b02a; /* Cor do polegar da barra de rolagem */
    border-radius: 10px; /* Cantos arredondados do polegar */
    border: 3px solid transparent; /* Cor da borda do polegar */
}

/* Estilo do polegar da barra de rolagem quando hover */
.cart-content::-webkit-scrollbar-thumb:hover {
    background-color: #3c6608; /* Cor do polegar da barra de rolagem ao passar o mouse */
}
/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/buying-item.css (1) ***!
  \**************************************************************************************/
* {
    font-family: Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.content {
    margin: 5em 6%;
    color: white;
    background-color: rgb(24, 24, 24);;
    padding: 1em;
}

.head-content {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    margin-top: 1em;
}

.item-name {
    letter-spacing: 3px;
    font-weight: 600;
}

.item-filter {
    position: relative;
    font-size: 14px;
    color: #999;
    margin-left: .5em;
    width: 20em;
}

.buy-content {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.img-item {
    width: 10em;
    height: 35em;
    overflow: hidden;
}

.img-content {
    margin-left: 1em;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 10em;
    max-height: 35em;
}

.img-review {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: auto;
    height: 5em;
    margin-top: 1em;
}

.img-review img {
    object-fit: fill;
    padding: 5px;
    width: 6em;
    height: auto;
}

.img-review img:hover {
    border: 1px solid #518a44;
    border-radius: 5px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 50em;
    max-height: 35em;
    width: 50em;
    height: 35em;
}

.img img {
    margin-top: .5em;
    width: 40em;
    height: 27em;
}

.buy-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 35em;
}

.buy-layout .price {
    margin-top: .7em;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.count {
    margin-top: .5em;
    letter-spacing: 2.5px;
}

.buy-layout div {
    display: flex;
    align-items: center;
    margin-top: .5em;
    width: 10em;
    height: 4em;
    border: white 3px solid;
    overflow: hidden;
    border-radius: 10px;
}

.buy-layout div .add, 
.buy-layout div .subtract  {
    max-width: 3em;
    max-height: 4.5em;
    width: 1.5em;
    height: 2em;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: 300ms ease-in-out;
}

.buy-layout div .add:hover,
.buy-layout div .subtract:hover,
.buttom-buy:hover  {
    color: black;
    background-color: white;
}

.item-quant {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 3.2em;
    height: 3em;
    background-color: transparent;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.buttom-buy {
    margin-top: 1.5em;
    max-width: 10em;
    max-height: 3.5em;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 300ms ease-in-out;
    font-weight: 600;
}

.img-buy, .comment-sealler {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60em;
    max-height: 30em;
    width: 100%;
    height: 30em;
    padding: 2em;
}

.description {
    margin-left: 1em;
    font-size: 30px;
    align-self: flex-start;
    letter-spacing: 1px;
}

.input-comment {
    background-color: transparent;
    padding: 1em;
    border: none;
    color: #818181;
    margin-top: 1em;
    height: 15em;
    width: 65em;
    overflow: hidden;
    overflow-y: auto;
}

.sealler {
    max-width: 30em;
    max-height: 15em;
    width: 100%;
    height: 15em;
    overflow: hidden;
}

.sealler .sealler-name {
    margin-top: .5em;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
}

.sealler h2 {
    margin-top: 1.5em;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.footer-main-content {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.footer-main-content label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 50em;
    max-width: 30em;
}

.feedback-poont-text {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.feedback-point {
    display: flex;
    height: 3em;
    width: 3em;
    border: #518a44 3px solid;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    font-size: 50px;
    letter-spacing: 2px;
}

.feedback {
    margin-left: 5em;
    margin-top: 5em;
    max-width: 85%;
    width: 100%;
    overflow: hidden;
}

.feedback-user {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.feedback-user li {
    position: relative;
    padding: 2em;
    display: flex;
    margin-top: 1em;
}

.feedback-user li img {
    border: 1px white solid;
    width: 4.5em;
    height: 4.5em;
    border-radius: 10em;
}

.feedback-user li span {
    position: absolute;
    font-weight: 600;
    left: 7.3em;
    top: 2.5em;
}

.feedback-user li textarea {
    margin-top: 3.7em;
    margin-left: 1em;
    background-color: transparent;
    color: white;
    padding: .8em 1.5em;
    font-size: 15px;
    border-radius: .3em;
    min-width: 740px;
    min-height: 49px;
    max-height: 404px;
    max-width: 740px;
}

/* barra de rolagem do Quill */
.input-comment::-webkit-scrollbar {
    width: 0.6em;
}

.input-comment::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

.input-comment::-webkit-scrollbar-track {
    background-color: transparent;
}

/*# sourceMappingURL=item.style.css.map*/