/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/home.css ***!
  \***************************************************************************/
:root {
    --white: white;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #1c1c1c;
}

.nav-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5.5em;
    overflow: hidden;
    background-color: #3c3c3c;
}

.logo {
    padding-left: 1.3em;
    cursor: pointer;
}

form .search-bar {
    flex-grow: 1;
    margin: 0 1em; /* Adicione margem para espaçamento */
}

form .search-input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: var(--white);
}

form .none {
    display: none;
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.3em; /* Alinhe à direita */
}

.shopping-cart a {
    display: flex;
    width: 1.9em;
    height: 1.9em;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    background-color: transparent;
    border: 2px solid var(--white);
    transition: background-color 0.3s ease;
}

.shopping-cart a:hover {
    border: 2px solid black;
    background-color: black
}

.shopping-cart a:hover {
    color: black;
}

.user {
    display: flex;
    align-items: center;
    gap: 1em; /* Adicione espaçamento entre os botões */
}

.user .profile-icon {
    display: flex;
    width: 3.4em;
    height: 3.4em;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    background-color: var(--white);
}

.gallery {
    max-height: 75vh;
}

.item {
    width: 80%;
    height: 50vh;
    margin: .5em;
    margin-top: 5em;
    opacity: .4;
    border-radius: 1em;
}

.item.is-selected {
    border-radius: .5em;
    margin-top: 1em;
    height: 75vh;
    opacity: 1;
}

.flickity-button {
    background-color: transparent;
    opacity: .3;
    transition: .4s ease-in-out;
}

.flickity-button:hover {
    background-color: transparent;
    opacity: 1;
}

.flickity-prev-next-button {
    width: 6.25em;
    height: 6.25em;
}

.flickity-button-icon {
    fill: white;
    background-color: transparent;
}

.flickity-button:disabled {
    display: none;
}

.flickity-page-dots {
    bottom: 3em;
}

.flickity-page-dots .dot {
    height: 1em;
    width: 1em;
    border: 2.5px solid var(--white);
    margin-left: 3em;
    border-radius: 1em;
}

.flickity-page-dots .dot.is-selected {
    background: var(--white);
    transition: 1s;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.recommendations {
    overflow: hidden;
    font-size: .8em;
    margin: 0 auto;
    max-width: 75em;
    padding: 4.5em 0;
}

h2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: aliceblue;
}

.recommendation-bar {
    width: 100%;
    height: 10em;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.last-search {
    align-items: baseline;
    margin: 2em;
    height: 7em;
    width: 7em;
    border-radius: 5em;
    background-color: transparent;
    opacity: .5;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.last-search a img {
    max-width: auto;
    max-width: 100%;
    object-fit: cover;
}

.last-search:hover {
    opacity: 1;
    border: 1px inset var(--white);
    height: 7.5em;
    width: 7.5em;
}

.footer-content {
    position: relative; /* Use relative para o elemento pai envolvente */
    clear: both; /* Limpa floats para garantir o posicionamento correto do footer */
    margin-top: 12.95em; /* Adicione margem para separar o conteúdo da parte inferior da página */

    overflow: hidden;
    background-color: rgb(24, 24, 24);
    padding: 4em 0;
    text-align: center;
    color: white;
}

.nav-bounds {
    display: flex;
    padding: 0 6.875em;
    justify-content: space-around;
}

.nav-footer-access-col {
    font-size: .8em;
    display: inline-block;
    vertical-align: top;
    line-height: 1.6;
    width: auto;
    margin: 2.875em 0;
}

.nav-footer-title {
    font-weight: 600;
    margin: 0 0 5px;
    margin-bottom: .8em;
    font-size: .8em;
    color: #e6e6e6;
}

.footer-content a,
.footer-content a:visited,
.footer-content a:active,
.footer-content a:link {
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    color: #999;
    text-decoration: none;
    font-size: .84em;
}

.profile-icon {
    order: 1;
    justify-content: center;
    max-width: 1.9em;
    max-height: 1.9em;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFF;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.initials {
    display: block;
    font-size: 23px;
    text-align: center;
}

.user {
    align-items: center;
    margin-left: .5em;
}

.user button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em .7em;
    margin-right: 1em;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: .3em;
    max-height: 2.9em;
    max-width: 6em;
    background-color: transparent;
    transition: background-color 0.3s ease;
    
}

.user button.login:hover {
    border: 2px solid #77b02a;
    background-color: #77b02a;
}

.user button.register:hover { 
    border: 2px solid #3c6608;
    background-color: #3c6608;
}

/* estilo para telas com largura menor que 768 pixels */
@media (max-width: 47.938em) {
    .nav-content {
        flex-wrap: nowrap;
        height: 5.5em;
        padding: 0.5em;
    }
    
    .logo {
        display: none;
    }
    
    .search-bar {
        width: 100%;
        padding: 0.5em;
    }
    
    .search-input {
        max-width: 28em;
        width: 28em;
        font-size: 1em;
    }

    .shopping-cart {
        padding-left: 0.5em;
    }

    .shopping-cart a {
        width: 1.6em;
        height: 1.6em;
    }

    .user {
        padding-left: 0.5em;
    }

    .user .profile-icon {
        width: 2.8em;
        height: 2.8em;
    }

    .recommendations {
        padding: 2em 0;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    .recommendation-bar {
        flex-wrap: nowrap;
        justify-content: center;
        height: auto;
    }

    .last-search {
        margin: 1em;
        height: 5em;
        width: 5em;
    }

    .footer-content {
        padding-top: 2em;
        height: auto;
    }

    .nav-bounds {
        flex-wrap: nowrap;
        padding: 0 1em;
    }

    .nav-footer-access-col {
        width: 100%;
        margin: 1em 0;
    }

    .flickity-button {
        display: none;
    }
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/search.css ***!
  \*****************************************************************************/
* {
    font-family: Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.ui-search{
    width: 100%;
}

.ui-search-main{
    max-width: 94%;
    padding-left: 10px;
    padding-right: 28px;
    width: 100%;
    display: flex;
    margin-top: 5em;
    flex-direction: row;
    margin-left: 5em;
}

.ui-search-sidebar {
    flex: 1 1;
    flex-wrap: wrap;
    width: 100%;
    color: #D4D4D4;
    max-width: 18.375em;
    min-width: 13.125em;
    padding-left: 14px;
    overflow: hidden;
}

.ui-search-breadcrumb__title {
    font-size: 32px;
    font-weight: 100;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
}

.ui-search-search-result__quantity-results {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.29;
    font-size: 14px;
    bottom: 2px;
    width: max-content;
}

.ui-search-result__image {
    max-width: 15em;
    max-height: 10em;
    object-fit: cover;
    width: 10em;
    height: 20em;
}

.ui-search-results {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ui-search-layout {
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ui-search-li {
    margin-bottom: 2em;
}

.ui-search-layout{
    display: grid;
    grid-template-columns:repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: black;
}

.ui-search-layout__item {
    display: flex;
    flex-direction: column;
    margin: 16px;
    max-width: 17.75em;
    min-width: 17.75em;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 400ms ease-in-out;
}

.ui-search-result__image {
    position: relative;
    max-width: 20em;
    max-height: 10em;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
}

.ui-search-result__image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.ui-search-result-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 50%;
    background-color: transparent;
    text-align: center;
    word-wrap: break-word;
    padding: .8em;
}

.ui-search-result-content label {
    cursor: pointer;
    font-size: .89em;
    margin-bottom: 13px;
    z-index: 1;
}

.ui-search-result-content .price{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1em;
    z-index: 1;
}

.ui-search-layout__item {
    overflow: hidden;
}

.ui-footer {
    display: flex;
    position: absolute;
    height: 5em;
    width: 5em;
    z-index: 0;
    background-color: #518a44;
    transform: translate(12.76em, -5em);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.portage {
    transform: translate(0.37em, 1.9em);
    rotate: -45deg;
    font-size: 24px;
    font-weight: 100;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    padding: .9em;
    background-color: #2b2a2a;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.slider {
    position: relative;
    background-color: rgb(39, 39, 39);
    width: 3em;
    height: 1.9em;
    border: 3px solid #363636;
    border-radius: 1.25em;
}

#toggle-input {
    display: none;
}

.pointer {
    background-color: #3d3c3c;
    border: none;
    width: 1.3em;
    height: 1.3em;
    border-radius: 2em;
    pointer-events: none;
    position: absolute;
    top: 3.4px;
    left: 4px;
    transition: all 300ms ease-in-out;
}

#toggle-input:checked ~ .slider {
    background-color: #77b02a;
}

#toggle-input:checked ~ .slider > .pointer {
    background-color: rgb(39, 39, 39);
    left: 1.62em;
}

/*# sourceMappingURL=search.style.css.map*/